.theme2 {
  /** DEFAULTS*/
  --text-color-base: #333329;

  /** THEME 1*/
  /* Backgrounds */
  --main-background: hsl(0, 0%, 90%);
  --keypad-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);

  /* Keys */
  --key-background-default: hsl(45, 7%, 89%);
  --key-shadow-default: hsl(35, 11%, 61%);

  --key-background-primary: hsl(25, 98%, 40%);
  --key-shadow-primary: hsl(25, 99%, 27%);

  --key-background-secondary: hsl(185, 42%, 37%);
  --key-shadow-secondary: hsl(185, 58%, 25%);

  /*Text*/
  --text-color-default: hsl(60, 10%, 19%);
  --text-color-primary: hsl(0, 0%, 100%);
  --text-color-secondary: hsl(0, 0%, 100%);
}
